{% extends 'base.html' %}
{% block content %}

<h1>Doll Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ doll.name }}</span>
        <p>Age: {{ doll.age }}</p>
        <p>Description: {{ doll.description }}</p>
        {% if doll.haunted == "True" %}
          <p>This doll is haunted.</p>
        {% else %}
          <p>This doll is not haunted yet.</p>
        {% endif %}
        <div class="card-action">
            <a href="{% url 'dolls_update' doll.id %}">Edit</a>
            <a href="{% url 'dolls_delete' doll.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action ="{% url 'add_seance' doll.id %}" method="post">
      {% csrf_token %}
      {{ seance_form.as_p }}
      <input type="submit" class="btn" value="Add Seance">
    </form>
    <br>
    {% if doll.seance_today %}
    <div class="card-panel teal-text center-align">{{doll.name}} has been recently contacted.</div>
    {% else %}
      <div class="card-panel red-text center-align">{{doll.name}} might be ready to communicate.</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Seance Type</th></tr>
      </thead>
      <tbody>
        {% for seance in doll.seance_set.all %}
        <tr>
          <td>{{seance.date}}</td>
          <td>{{seance.get_type_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h4>Talismans that will protect you from {{ doll.name }}</h3>
    {% if doll.talismans.count %}
      {% for tal in doll.talismans.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ tal.color }}">{{ tal.color }}</span> {{ tal.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Talisman will currently keep you safe from {{ doll.name }}</h5>
    {% endif %}
  </div>

  <div class="col s6">
    <h4>Talismans available to be imbued with a spell to protect against {{ doll.name }}</h4>
    {% if talismans.count %}
      {% for tal in talismans.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ tal.color }}">{{ tal.color }}</span> {{ tal.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_talisman' doll.id tal.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Imbue With Protection Spell</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>All available talismans have already been imbued against {{ doll.name }}. I hope it's enough!</h5>
    {% endif %}  
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_type');
  M.FormSelect.init(selectEl);
</script>

{% endblock %} 